aiohttp==3.5.4
arrow==0.15.4
async-timeout==3.0.1
attrs==19.3.0
beautifulsoup4==4.8.1
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
discord.py==1.2.5
idna==2.8
idna-ssl==1.1.0
multidict==4.6.1
pymongo==3.9.0
python-dateutil==2.8.1
requests==2.22.0
six==1.13.0
soupsieve==1.9.5
typing-extensions==3.7.4.1
urllib3==1.25.7
websockets==9.1
yarl==1.4.2
lxml
